[Desktop Entry]
Type=Application
Name=VGMTrans
Exec=vgmtrans
Icon=io.github.vgmtrans.vgmtrans
Comment=A converter for sequenced videogame music
Terminal=false
Categories=AudioVideo;
