name: Build and test
on: [push, pull_request]
jobs:
  macos:
    name: macOS
    runs-on: macos-10.15
    steps:
      - uses: actions/checkout@v2
      - name: "Install dependencies"
        run: |
          brew upgrade qt@5 || brew install qt@5
          brew upgrade fluid-synth || brew install fluid-synth
          echo "BRANCH=$(git rev-parse --abbrev-ref HEAD)" >> $GITHUB_ENV
          echo "/usr/local/bin" >> $GITHUB_PATH
      - name: "Prepare build"
        run: cmake -DCMAKE_INSTALL_PREFIX=/usr/bin -DCMAKE_BUILD_TYPE=Release -B build
      - name: "Build project"
        run: cmake --build build --config "Release" --parallel
      - working-directory: "build"
        name: "Package DMG (macOS)"
        run: /usr/local/opt/qt5/bin/macdeployqt bin/VGMTrans.app -dmg -always-overwrite
      - name: "Upload artifact"
        uses: actions/upload-artifact@v1
        with:
          name: VGMTrans-${{ github.sha }}-${{ env.BRANCH }}-x86_64-${{ runner.os }}.dmg
          path: "build/bin/VGMTrans.dmg"
  Ubuntu:
    runs-on: ubuntu-18.04
    name: Linux
    steps:
      - uses: actions/checkout@v2
      - name: "Set environment variables"
        run: |
          echo "BRANCH=$(git rev-parse --abbrev-ref HEAD)" >> $GITHUB_ENV
      - name: "Install dependencies"
        run: |
          sudo add-apt-repository ppa:beineri/opt-qt-5.15.2-bionic -y
          sudo apt clean
          sudo apt update
          sudo apt install -y pkg-config qt515base qt515svg qt515wayland libjack-dev libsndfile1-dev libpulse-dev libglib2.0-dev ninja-build libgl1-mesa-dev
          wget https://github.com/FluidSynth/fluidsynth/archive/v2.1.9.zip
          unzip v2.1.9.zip
          cd fluidsynth-2.1.9
          mkdir build && cd build
          cmake -DCMAKE_C_COMPILER="gcc-10" -DCMAKE_CXX_COMPILER="g++-10" -Denable-network=off -Denable-ipv6=off -DCMAKE_INSTALL_PREFIX=/usr/ -DLIB_INSTALL_DIR=lib -GNinja ..
          cmake --build . --config "Release" --parallel
          sudo cmake --build . --target install
      - name: "Prepare build"
        run: cmake -DCMAKE_C_COMPILER="gcc-10" -DCMAKE_CXX_COMPILER="g++-10" -DCMAKE_INSTALL_PREFIX=/usr/bin -DCMAKE_BUILD_TYPE=Release -GNinja -B build
      - name: "Build project"
        run: cmake --build build --config "Release" --parallel
      - name: "Make AppImage"
        working-directory: "build"
        run: |
          DESTDIR=appdir ninja -j$(nproc) install
          find appdir/
          wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
          chmod a+x linuxdeployqt-continuous-x86_64.AppImage
          mkdir -p appdir/usr/share
          cp ../bin/mame_roms.xml appdir/usr/bin
          cp ../src/ui/qt/resources/VGMTrans.desktop appdir/usr/share
          cp ../src/ui/qt/resources/vgmtrans.png appdir/
          ./linuxdeployqt-continuous-x86_64.AppImage appdir/usr/share/VGMTrans.desktop -appimage -qmake=/opt/qt515/bin/qmake -extra-plugins=platforms/ -verbose=2
          mv VGMTrans*.AppImage VGMTrans.AppImage
      - name: "Upload artifact"
        uses: actions/upload-artifact@v1
        with:
          name: VGMTrans-${{ github.sha }}-${{ env.BRANCH }}-x86_64-${{ runner.os }}.AppImage
          path: "build/VGMTrans.AppImage"
  Windows:
    runs-on: windows-latest
    name: Windows
    steps:
       - uses: actions/checkout@v2
         with:
          submodules: true
       - name: "Prepare build"
         run: |
          echo "BRANCH=$(git rev-parse --abbrev-ref HEAD)" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          cmake -DCMAKE_C_COMPILER=cl -DCMAKE_CXX_COMPILER=cl -DCMAKE_BUILD_TYPE=Release -B build
       - name: "Build project"
         run: cmake --build build --config "Release" --parallel
       - name: "Package artifact"
         run: 7z a "VGMTrans.zip" -r .\build\bin*
       - name: "Upload artifact"
         uses: actions/upload-artifact@v2.2.3
         with:
           name: VGMTrans-${{ github.sha }}-${{ env.BRANCH }}-x86_64-${{ runner.os }}
           path: VGMTrans.zip
       
